{% extends 'base.html'%} {% block content%}
<div class="homepage text-center">
    <img src="./static/images/logo.png" class="logomain rounded py-0" />
    <h1 class="color-gray-700">Welcome to CookIt!</h1>
    <h2 class="pb-5 color-gray-700">
        The best recipe collection app in the world
    </h2>

    <a class="btn btn-primary login" href="{{ url_for('login')}}">Log In</a
    ><br /><br />
    <p>Don't have an account?</p>
    <a class="btn btn-success register" href="{{ url_for('register')}}"
        >Register</a
    >
</div>
{% endblock %}
