{% extends 'base.html'%} {% block content%}
<div class="row h-100 justify-content-center align-items-center text-center">
    <div class="col-10 col-md-8 col-lg-3">
        <img
            src="./static/images/logo.png"
            class="logo rounded py-0 img-fluid"
        />
        <h2 class="pt-4">Login</h2>
        <br />
        <p class="text-danger">{{message}}</p>
        <form method="POST" action="login">
            <div class="form-group">
                <label for="username" class="pb-2">Username</label><br />
                <input
                    type="text"
                    id="username"
                    class="form-control"
                    name="username"
                    value=""
                    placeholder="Enter username"
                    required
                />
                <small class="form-text text-muted"
                    >We'll never share your username with anyone.</small
                >
            </div>
            <br />
            <div class="form-group">
                <label for="password" class="pb-2">Password</label><br />
                <input
                    type="password"
                    id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    class="form-control"
                    name="password"
                    value=""
                    placeholder="Enter password"
                    required
                />
            </div>
            <br />
            <div class="form-input pb-5">
                <input
                    type="submit"
                    value="Login"
                    class="btn btn-outline-success"
                />
            </div>
        </form>

        <a class="btn btn-primary" href="{{ url_for('register')}}"
            >Register instead</a
        >
    </div>
</div>
{% endblock %}
